// o nome deve ser RSRC.RC pois o bat bldall.bat utiliza esse nome e fica mais facil
// trabalhar

#define ICONE 500
#define FOGUETE  100
#define BIGASTEROID 208

// define icone e outros a serem utilizados
ICONE ICON MOVEABLE PURE LOADONCALL DISCARDABLE "logo.ICO"

// INDICA O BITMAP A SER UTILIZADO

BIGASTEROID BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "asteroid_big.bmp"
FOGUETE BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "rocket.bmp"



// cria a estrutura do menu
600 MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE
BEGIN
    POPUP "&File", , , 0
    BEGIN
        MENUITEM "&Mensagem", 1001
        MENUITEM "&Exit", 1000
    END
    POPUP "&Help", , , 0
    BEGIN
        MENUITEM "&About", 1900
    END
END

